/*                 Estilo para tablets  a                  */

@media only screen and (min-width: 768px) and (max-width: 959px) {
/* Introdução */

.introducao h1 {
    font-size: 48px;
  }

/* Qualidade */

.qualidade_lista li {
	text-align: center;
	padding: 0px;
}

  .qualidade:after {
	content: "";
	width: 634px;
	height: 83px;
	display: block;
	background: url("../img/linhas.png") no-repeat center;
	position: absolute;
	top: 209px;
	right: 66px;
}

/* Qualidade - Home */
.qualidade:after {
right: 66px;
    }

.qualidade_lista li {
    padding: 0 10px;
    }
}

/* Footer */

.footer_redes ul li a {
	border: 3px solid #fec63e;
	display: block;
	padding: 5px;
}

.footer_redes ul li a img{
    width: 26px;
    height: 26px;
}

/* Produto info */

.produto_info p{
	font-size: 16px;
	line-height: 20px;
	height: 140px;
	padding: 19px 40px;
}

.produto_info ul li {
	line-height: 10px;
	width: 181px;
	height: 40px;
	padding-top: 16px;
}

.produto_icone {
	padding: 41px 0;
}

.produto_item {
	padding-top: 30px;
}

/*Orçamento - Produto*/

.orcamento {
	margin-top: 30px;
	padding: 40px 0;
}

.form label{
	font-size: 16px;
}

.form input {
	border: 2px solid #fec63e;
	padding: 5px 10px;
	margin-bottom: 8px;
	font-size: 12px;

}

.form textarea {
	height: 100px;
	border: 2px solid #fec63e;
	padding: 5px 10px;
	margin-bottom: 15px;
	font-size: 12px;
}

.orcamento_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fec63e;
	font-weight: bold;
	margin-top: 2px;
}

.orcamento_dados span {
	font-size: 16px;
	line-height: 35px;
}

/*             Estilo para smartphone                  */

@media only screen and (max-width: 767px) {

/* Produto info */

.produto_info p{
	font-size: 14px;
	line-height: 20px;
	height: 140px;
	padding: 12px 40px;
}


.produto_icone {
	padding: 40px 0;
}

.produto_item {
	padding-top: 30px;
}

.produto_item h2{
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: relative;
	top: -110px;
	text-align: center;
	margin-bottom: -56px;
}

.produto_info ul li {
	font-size: 16px;
	width: 149px;
	height: 40px;
	padding-top: 16px;
}

/*Orçamento - Produto*/

.orcamento {
	margin-top: 40px;
	padding: 20px 0;
}

.form label{
	font-size: 16px;
}

.form input {
	border: 2px solid #fec63e;
	padding: 5px 10px;
	margin-bottom: 8px;
	font-size: 12px;

}

.form textarea {
	height: 100px;
	border: 2px solid #fec63e;
	padding: 5px 10px;
	margin-bottom: 15px;
	font-size: 12px;
}

.orcamento_dados span {
	font-size: 16px;
	line-height: 35px;
}


/*Header*/

.header {
    position: relative;
    padding-bottom: 0;
}

.header img {
    margin: 0 auto 20px auto;
}

.header_menu {
    text-align: center;
}

.header_menu ul li {
    margin: 0;
}

.header_menu ul li a {
    border: 4px solid #000;
    width: 140px;
    display: block;
    float: left;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
}

.header_menu ul li a:hover {
    border-color: white;
}

.header_menu ul li a.menu_ativo {
	border-color: white;
}

/*Introdução*/

.introducao {
    margin-top: 0px;
    padding-top:40px;
    background: url("../img/bg_mobile.jpg") no-repeat center;
    background-size: cover;
}

.introducao h1 {
	font-size: 41px;
}

/* Introdução interna */

.introducao-interna {
	margin-top: 0px;
}

/* Call */
.call {
	padding-top: 10px;
}

.qualidade:after {
    right: 66px;
    display: none;
}

/* Sobre */

.missao_sobre p {
    padding-right: 0px;
    font-size: 14px;
    line-height: 20px;
}

.missao_sobre ul li {
    font-size: 14px;
    line-height: 20px;
}



}